<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head>
    <meta charset="UTF-8">
    <title>Supplements</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>

<body>



<div class="container-fluid">
    <h5 class="text-center text-white mt-5">

       UUUUPS!!!! The object that you are looking for is not available!

    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
