<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Supplements</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>

<body>
<nav>
    <ul>
        <li sec:authorize="isAnonymous()"><a th:href="@{/}">Home</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/products}" class="active">Products</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/addProduct}">Add Product</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/cart">Cart</a></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" th:value="Logout"/>
            </form>
        </li>
    </ul>
</nav>



<div class="container-fluid">
    <h5 class="table-sub-heading-color">

       UUUUPS!!!! The object that you are looking for is not available!

    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
