<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart" class="active">Cart</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<h1>Shopping Cart</h1>

<table>
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Flavour</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.products}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.flavor}"></td>
        <td th:text="${item.size}"></td>
        <td th:text="${item.price}"></td>
        <td><form th:action="@{/remove}" method="post">
            <input type="hidden" th:name="id" th:value="${item.id}" />
            <button type="submit">Remove</button>
        </form></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" style="text-align: right;">Total:</td>
        <td th:text="${totalSum}"></td>
    </tr>
    </tfoot>
</table>
<form action="/checkout" method="POST">
    <button type="submit">Make Order</button>
</form>
</body>
</html>
