<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/products">Products</a></li>
    </ul>
</nav>

<h1>Shopping Cart</h1>

<table>
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Flavour</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.products}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.flavor}"></td>
        <td th:text="${item.size}"></td>
        <td th:text="${item.price}"></td>
    </tr>
    </tbody>
    <tfoot>

    <tr th:text="${totalSum}">
        <td colspan="3">Total:</td>
        <td></td>
    </tr>
    </tfoot>
</table>
<form action="/checkout" method="POST">
    <button type="submit">Make Order</button>
</form>
</body>
</html>
