<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Supplements Website - Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>

<body>
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/addProduct">Add Product</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<h1>Welcome, Admin </h1>

<h3>Here are some of our bestsellers products:</h3>

<div  th:each="protein: ${proteins}" class="products">
    <div class="product">
        <h2 th:text="${protein.name}"></h2>
        <p th:text="${protein.description}">Description of Product 1</p>
        <p th:text="${protein.price}">Price: $XX.XX</p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <h2>Product 2</h2>
        <p>Description of Product 2</p>
        <p>Price: $XX.XX</p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <h2>Product 3</h2>
        <p>Description of Product 3</p>
        <p>Price: $XX.XX</p>
        <button>Add to Cart</button>
    </div>
</div>
</body>

</html>
