<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Supplements Website - Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>

<body>
<nav>
    <ul>
        <li><a href="/home" class="active">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a href="/addProduct">Add Product</a></li>
        <li><a href="/cart">Cart</a></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" th:value="Logout"/>
            </form>
        </li>
    </ul>
</nav>

<h1>Welcome,
    <th:block th:text="${#authentication.principal.username}">X</th:block>
    !
</h1>

<h3>Here are some of our bestsellers products:</h3>

<div class="products-container">
    <div th:each="protein: ${TopProteins}" class="product">
        <h2 th:text="${protein.name}">Product Name</h2>
        <p th:text="${protein.description}">Product Description</p>
        <div class="product-image" th:style="'background-image: url(' + ${protein.imageURL} + ')'"></div>
        <div class="mask">
            <div class="mask-content">
                <p th:text="${'$'+protein.price}">Price: $XX.XX</p>
                <button><a th:href="@{/addToCart/{id}(id=${protein.id})}">Add to Cart</a></button>
            </div>
        </div>
    </div>
</div>

<div class="products-container">
    <div th:each="perform: ${TopPerformance}" class="product">
        <h2 th:text="${perform.name}">Product Name</h2>
        <p th:text="${perform.description}">Product Description</p>
        <div class="product-image" th:style="'background-image: url(' + ${perform.imageURL} + ')'"></div>
        <div class="mask">
            <div class="mask-content">
                <p th:text="${'$'+perform.price}">Price: $XX.XX</p>
                <button><a th:href="@{/addToCart/{id}(id=${perform.id})}">Add to Cart</a></button>
            </div>
        </div>
    </div>
</div>

<div class="products-container">
    <div th:each="weight: ${TopWeightManagement}" class="product">
        <h2 th:text="${weight.name}">Product Name</h2>
        <p th:text="${weight.description}">Product Description</p>
        <div class="product-image" th:style="'background-image: url(' + ${weight.imageURL} + ')'"></div>
        <div class="mask">
            <div class="mask-content">
                <p th:text="${'$'+weight.price}">Price: $XX.XX</p>
                <button><a th:href="@{/addToCart/{id}(id=${weight.id})}">Add to Cart</a></button>
            </div>
        </div>
    </div>
</div>

<div class="products-container">
    <div th:each="vitamin: ${TopVitamins}" class="product">
        <h2 th:text="${vitamin.name}">Product Name</h2>
        <p th:text="${vitamin.description}">Product Description</p>
        <div class="product-image" th:style="'background-image: url(' + ${vitamin.imageURL} + ')'"></div>
        <div class="mask">
            <div class="mask-content">
                <p th:text="${'$'+vitamin.price}">Price: $XX.XX</p>
                <button><a th:href="@{/addToCart/{id}(id=${vitamin.id})}">Add to Cart</a></button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
