<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>

<body>
<nav>
    <ul>
        <li sec:authorize="isAnonymous()"><a th:href="@{/}">Home</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/addProduct}">Add Product</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/orders}">Orders</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/cart">Cart</a></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" th:value="Logout"/>
            </form>
        </li>
    </ul>
</nav>

<h1>Orders</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.firstName}"></td>
        <td th:text="${order.lastName}"></td>
        <td th:text="${order.email}"></td>
        <td th:text="${order.address}"></td>
        <td>
            <form th:action="@{/confirm-order}" method="post">
                <input type="hidden" name="orderId" th:value="${order.id}"/>
                <button type="submit" name="action" value="confirm">Confirm Order</button>
            </form>

<!--  @TODO:          <form th:action="@{/reject-order}" method="post">-->
<!--                <input type="hidden" name="orderId" th:value="${order.id}"/>-->
<!--                <button type="submit" name="action" value="reject">Reject Order</button>-->
<!--            </form>-->
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
