<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<nav>
    <ul>
        <li sec:authorize="isAnonymous()"><a th:href="@{/}">Home</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/products}" class="active">Products</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/addProduct}">Add Product</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/cart">Cart</a></li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" th:value="Logout"/>
            </form>
        </li>
    </ul>
</nav>
<h1>Products</h1>

<h2>Protein</h2>
<ul>
    <li th:each="product : ${allProteins}" class="product">
        <span th:text="${product.name}"></span> - $<span th:text="${product.price}"></span>
        <div class="product-image" th:style="'background-image: url(' + ${product.imageURL} + ')'"></div>
        <button><a class="text-center" th:href="@{/productDetails/{id}(id=${product.id})}">Details</a></button>
    </li>
</ul>

<h2>Performance</h2>
<ul>
    <li th:each="product : ${allPerformance}" class="product">
        <span th:text="${product.name}"></span> - $<span th:text="${product.price}"></span>
        <div class="product-image" th:style="'background-image: url(' + ${product.imageURL} + ')'"></div>
        <button><a class="text-center" th:href="@{/productDetails/{id}(id=${product.id})}">Details</a></button>
    </li>
</ul>

<h2>Weight Management</h2>
<ul>
    <li th:each="product : ${allWeightManagement}" class="product">
        <span th:text="${product.name}"></span> - $<span th:text="${product.price}"></span>
        <div class="product-image" th:style="'background-image: url(' + ${product.imageURL} + ')'"></div>
        <button><a class="text-center" th:href="@{/productDetails/{id}(id=${product.id})}">Details</a></button>
    </li>
</ul>

<h2>Vitamins</h2>
<ul>
    <li th:each="product : ${allVitamins}" class="product">
        <span th:text="${product.name}"></span> - $<span th:text="${product.price}"></span>
        <div class="product-image" th:style="'background-image: url(' + ${product.imageURL} + ')'"></div>
        <button><a class="text-center" th:href="@{/productDetails/{id}(id=${product.id})}">Details</a></button>
    </li>
</ul>
</body>
</html>
